# ==========================
# SECRETS
# ==========================

.env
config.py


# ==========================
# DATABASE
# ==========================

database/*.db
database/*.json


# ==========================
# LOGS
# ==========================

logs/
*.log


# ==========================
# PYTHON
# ==========================

__pycache__/
*.pyc
*.pyo
*.pyd


# ==========================
# VIRTUAL ENVIRONMENT
# ==========================

venv/
env/
.venv/


# ==========================
# IDE
# ==========================

.vscode/
.idea/


# ==========================
# OS
# ==========================

.DS_Store
Thumbs.db